.user-form {
    background-color: #92DE7C;
    max-width: 95%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 12px;
}
.user-form div {
    margin: 0.5rem auto;
}

.user-form label {
    font-weight: bold;
}

.user-form input {
    display: inline-block;
}
.user-form input {
 border: 1px solid #ccc;
 border-radius: 6px;
 padding: 0.2rem 0.5rem;
 margin: 1em;
 width: 90%;
 font: inherit;
}

.user-form input:hover {
    border: 3px solid rgb(0, 195, 255);
   }

.user-form input:focus {
    outline: none;
    border: 3px solid rgb(4, 0, 255);
    background-color: #d8f3df;
}


.user-form button {
    margin: 0.5rem;
    padding: 0.7rem;
    border-radius: 12px;
    border: none;
    font-weight: 700;
}


.user-form button:hover {
    padding: 0.8rem;
    background-color: bisque;
    font-weight: 900;
}


.form-warning {
    position: absolute;
    width: 50rem;
    height: 20rem;
    color: red;
    background-color: yellow;
}

.form-button {
    width: fit-content;
    margin: 1rem auto;
}

@media (max-width: 40rem) {
    .user-form{
        width: 20rem;
    }
}